
.homepage-navbar {
	display: flex;
	flex-direction: row;
}

.homepage-navbar-child {
	flex: 1;
}

.centered-text {
	text-align: center;
}

@media only screen and (max-width: 700px) {
	.not-on-small-screens {
		display: none;
	}

}


