ul {
	padding: 0;
	text-align: left;
}

li {
	list-style-type: none;
}

.summary-content {
	margin-top: 75px;
	padding-bottom: 5px;
	clear: both;
	white-space: pre-wrap;
}

.content-bar {
	border: 2px solid black;
	background: rgb(245,245,245);
	float: right;
	padding: 0 10px 0 10px;
	margin-bottom: 20px;

}

.title-shot {
	border-bottom: 1px solid black;
}

.centered-text {
	text-align: center;
}

.page-footer {
	margin-top: 75px;
	margin-bottom: 50px;
}

.page-found {
	white-space: pre-wrap;
}

